<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/dashboard"
                        aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                            class="hide-menu">Dashboard</span></a></li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Courses</span></li>

                <li class="sidebar-item"> <a class="sidebar-link" href="/dashboard/course"
                        aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                            class="hide-menu">Course List
                        </span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/dashboard/chapter"
                        aria-expanded="false"><i data-feather="sidebar" class="feather-icon"></i><span
                            class="hide-menu">Chapter</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/dashboard/lesson"
                        aria-expanded="false"><i data-feather="video" class="feather-icon"></i><span
                            class="hide-menu">Lesson</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/dashboard/mentor"
                        aria-expanded="false"><i data-feather="users" class="feather-icon"></i><span
                            class="hide-menu">Mentor</span></a></li>            

                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Media</span></li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/dashboard/media"
                    aria-expanded="false"><i data-feather="image" class="feather-icon"></i><span
                        class="hide-menu">Media</span></a></li>   
               

                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Transactions</span></li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/dashboard/transaction"
                    aria-expanded="false"><i data-feather="tag" class="feather-icon"></i><span
                        class="hide-menu">Orders</span></a></li>       
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>